body{
    font-family: 'Open Sans', sans-serif; 
    background-color:whitesmoke;
}
/* div{
    display:block;
} */
.header{
    width: 100%;    
    /* border:solid black 2px; */
    padding:30px 30px;    
    font-family: 'Open Sans', sans-serif;  
    position:relative;  
    font-weight: 400;    
}
.brand{
    font-family: 'Open Sans', sans-serif;
    display:inline;
    font-size: 1.5em;
    
    left:5%;
   
}
.options{
    display:inline; 
    position:absolute;
    top:40%;
    left:40%;
    
}
.list li{
    display:inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;  
    padding:0px 10px;  
    color:rgba(136,136,136);
}
a { 
    color: inherit;
    text-decoration: none;
 } 
.third-block{
    
    display:inline;
}
.round-button{
    font-family: 'Open Sans', sans-serif;
    border:solid grey 1px;
    border-radius: 10px;
    padding:4px 20px;
     font-size:10px; 
    position:absolute;
    top:40%;
    right:5%;
   text-transform:uppercase;
}
.main-text{
    font-family: 'Montserrat', sans-serif;
    position:absolute;
    width:45%;
    top:30%;
    left:10%;
}
.mission{
    font-size:2.3rem;
    padding:10px 5px;
    color:rgb(17,17,17);
}
.explaination{
    font-size:1rem;
    padding:10px 5px;
    color:rgba(136,136,136);
}
.explore{
    margin-top:30px;
    padding:10px 5px;
    font-size:0.9em;
    text-transform: uppercase;
}
.image-div{
    position:fixed;
    top:30%;
    left:65%;
    
}
.image-div img{
    border-radius:50%;
    width:590px;
    height:590px;
   
    
}
.positioned{
    position:fixed; 
    opacity:0.5;
}
.inner-ring{
    background-color: rgb(255,116,110);
    width:630px;
    height:630px;
    z-index:-10;
    border-radius:50%;
    top:26%;
    left:63%;
    
}
.middle-ring{
    background-color: rgb(255,116,110);
    width:670px;
    height:670px;
    z-index:-50;
    border-radius:50%;
    top:22%;
    left:61%;
}
.outer-ring{
    background-color: rgb(255,116,110);
    width:710px;
    height:710px;
    z-index:-100;
    border-radius:50%;
    top:18%;
    left:59%;
}
.scroll-hint{
    text-transform: uppercase;
    position:fixed;
    bottom:5%;
    left:3%;
    transform: rotate(-90deg);
    font-size:0.6em;
}